* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body styling*/
body {
    background-color: #5085a5;
}
/*header styling*/
header {
    background-color: #687864;
    padding: 13px;
}

header h1 {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

header ul {
    list-style-type: none;
    float: right;
}

header div{
    background-color:#687864;
}

header a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header div ul li {
   padding: 10px 20px 10px 20px;
   display: inline-block;
}


/*section styling*/
section {
    display: inline-block;
    padding: 15px;
}
.section-title {
    font-family: Tahoma, Geneva, sans-serif;
}

.section-style{
    background-color: #8fc1e3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    padding: 15px;
}

section h3{
    padding-bottom: 10px;
}

/*about me styling*/
.about-me {
    display: inline-block;
    width: 75%;
}

.about-me img {
    height: 25%;
    width: 25%;
    display: inline-block;
}

/*project section styling*/
.project-grid{
    display: inline-block;
}

.project-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.project-grid-container {
    background: #687864;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    border: 4px solid #8fc1e3;
    color:whitesmoke;    
}

.project-grid-item {
    height: 150px;
    width: 175px;
    padding: 50px;
}

.project-grid-item img{
    height: 100px;
    width: 125px;
}

.first-project img{
    height:200px;
    width:300px;
}


/*contact section styling*/
.contact-info{
   display: center;   
}