* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header styling*/
header {
    background-color: whitesmoke;
    padding: 13px;
}

header h1 {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header ul {
    list-style-type: none;
    float: right;
}

header div{
    background-color:whitesmoke;
}

header a {
    text-decoration: none;
}

header div ul li {
   padding: 10px 20px 10px 20px;
   display: inline-block;
}

.hero img { 
    height: 400px;
    width: 100%;
    background-position: center;
}

/*section styling*/
section {
    display: inline-block;
    padding: 15px;
}
.section-title{
    font-family: Tahoma, Geneva, sans-serif;
}

.about-me {
    width: 70%;
    
}

.contact-info{
    display: center;
    padding: 15px;
}